$lightest: #e5e4db;
$light: #cecdc5;
$main: #b7b6af;
$mid: #a0a099;
$dark: #898983;
$darker: #73726e;
$info: #5c5b58;
$deep: #454442;
$deeper: #2e2e2c;
$darkest: #171716;

$blue-main: #1691D9;
$blue-alt1: #2F7FAD;
$blue-alt2: #396985;
$blue-dark: #364C59;
$blue-darkest: #232A2E;

$yellow-main: #FFB908;

$red-main: #bd2c2c;
